<div class="header">
  <center><%= image_tag('top_banner.jpg') %></center>

   <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
       
        <li>
            <%= link_to "Home", root_path %>
        </li>

        <li>
            <%= link_to "About", "about" %>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
          Events
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to "2013 Babson Mexican Conference", "event_one" %> 
          </li>
          </ul>
        </li>

         <li>
            <%= link_to "Locations", "locations" %>
        </li>

      </ul>
    </div>
   </div>
</div>
